$primary-color: #3F5D45;
$secondary-light-color: #EAF0ED;
$secondary-dark-color: #8DA291;
$secondary-color: #FFE180;
$accent-color-whi: #ffffff;

$font-size-s:16px;
$font-size-m:20px;
$font-size-l:24px;
